@model IPagedList<webblog.Models.blogpost>
@using PagedList
@using PagedList.Mvc

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-9 well">
                @if (Model.Count == 0)
                {
                    <h4>No Posts found</h4>
                }
                @foreach (var post in Model)
                {
                    <div class="col-lg-12 blogpost">
                        <h2>
                            <a href="@Url.Action("Details", new { slug = post.Slug })">@post.Title</a>
                        </h2>
                        <h5>
                            <i class="fa fa-clock-o"></i> @post.Created.ToString("D")
                            <span style="display:inline-block; width: 1em;"></span>
                            <i class="fa fa-tags"></i> <a href="@Url.Action("Index", "blogposts", new { query = post.Category })">@post.Category</a>
                            <span style="display:inline-block; width: 1em;"></span>
                            <i class="fa fa-comments"></i> @post.Comments.Count Comments
                        </h5> 
                        <hr class="defaulthr">
                            @if (post.MediaURL != null)
                            {
                                <a href="@Url.Action("Details", new { slug = post.Slug })"><img src="@Url.Content(post.MediaURL)" class="img-responsive" /></a>
                                <hr class="defaulthr">
                            }
                        <p class="lead">@Html.Raw(@post.Body)</p>

                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            @: <small>[ <a href="@Url.Action("Edit", new { post.Id })">Edit</a> ]</small>
                            @: <small>[ <a href="@Url.Action("Delete", new { post.Id })">Delete</a> ]</small>
                            }
                        <hr class="defaulthr">
                        <input type="button" value="Read More" class="btn btn-primary" onclick="location.href='@Url.Action("Details", "blogposts", new { slug = post.Slug })';return false;">
                    </div>   
                }
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-3 hidden-xs hidden-sm">
                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                    <form action="@Url.Action("Index", "blogposts")">
                        <div class="input-group">
                            <input type="text" class="form-control" name="query" value="@ViewBag.query" placeholder="Search ...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                    <!-- /.input-group -->
                </div>

                <!-- Tags Categories Well -->
                <div class="well">
                    <h4><i class="fa fa-tags"></i> Tags</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-unstyled">
                                @{ 
                                    foreach (var category in ViewBag.categorylist)
                                    {
                                        <li><a href="@Url.Action("Index", "blogposts", new { query = category })">@category</a></li>
                                    }
                                }

                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->
</div>
<!-- /.container -->